@font-face {
    font-family: chava;
    src: url(fonts/Chava-Regular.ttf);
}
body{
    margin: 0;
}
.body1{
    padding-left: calc(11vw - 16px);
    height: 100vh;
}
.toppic1{
    padding-left: calc(11vw - 16px);
    padding-top: 40px;
    size: calc(9vw + 181px);
}
.back-img1{
    background-image: url(pics/html_css_js\ 1.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: calc(4vw + 69px);
    background-size: calc(24vw + 91px);
    margin-right:calc(6vw - 19px);
}
.start-info1{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    padding-top: calc(6vw + 4px);
    padding-bottom: calc(6vw + 4px);
    font-size: 20px;
}
.start1{
    padding-right: 200px;
    flex-wrap: wrap;
    
}
.head1{
    font-weight: bolder;
    padding-bottom: 15px
}
.chava1{
    font-size: calc(4vw + 26px);
    font-family:chava;   
}
.discription{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    max-width: 930px;
    padding-top: 40px;
    display:flex;
    flex-wrap: wrap;
}
.buttons1{
    display:flex;
    flex-wrap:wrap; 
}
.button-one1{
    background-color: blueviolet;
    color:white;    
    padding: 15px 70px;
    border-radius: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    margin-top: 20px;
}
.button-two1{
    background-color: white;
    border:2px solid;
    border-color: blueviolet;
    color:blueviolet;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}



.screen2{
    padding-left: calc(11vw - 16px);
    padding-top: 160px;
}
.top-info2{
    font-size: calc(3vw + 24px);
    font-family:Arial, Helvetica, sans-serif;
    max-width: 750px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    margin-right: 10px;
}
.disc-screen2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: calc(1vw + 14px);
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.half{
    width: 43vw;
    padding-bottom: 30px;
}
.top-2{
    font-weight: bolder;
}
.info-2{
    width: 40vw;
    padding-top:20px;
}



.screen3{
    background: #6E3ABA;
    font-family: Arial, Helvetica, sans-serif;
    background-size:cover;
}
.top-info3{
    display: flex;
   justify-content:center;
   font-size:calc(2vw + 27px);
   line-height: 118%;
   color:white;
   padding-top: calc(4vw + 23px)
}
.data-time3{
    display:flex;
    justify-content:center;
}
.time3{
    padding: calc(6vw + 7px);
}
.clock3{
    font-family: chava;
    font-size: calc(12vw + 12px);
    color:#2F1D4E
}
.days3{
    font-weight: bolder;
    font-size: calc(2vw + 3px);
    color:#2F1D4E;
    display: flex;
    justify-content: center;
}
.button-cont-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: calc(5vw + 21px);
}
.button3{
    background-color: white;
    color:#2F1D4E;
    padding: 20px 100px;
    border-radius: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 20px;
}


.screen4{
    padding-left: calc(11vw - 16px);
    padding-top: 160px;
    font-family: Arial, Helvetica, sans-serif;
}
.pic4{
    position: absolute;
}
.head-info4{
    display: flex;
    justify-content: right;
    margin-right: 120px;

}
.container4{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-left: 400px;
    
}
.head4{
    width: 600px;
    padding-left: 50px;
}
.name4{
    font-weight: bolder;
    font-size: calc(1vw + 33px);
}
.info4{
    font-size: calc(1vw + 14px);
}
.icon-info4{
    flex-wrap: wrap;
    padding: 40px;
}
.info-4{
    font-size: calc(0.5vw + 14px);
    width: 200px;

}
@media (max-width: 800px) {
    .pic4{
        position: relative;
    }
    .head-info4{
        width: 100vw;
        display: flex;
        justify-content: left;
    }
    .head4{
        width: 100vw;
        padding: 10px 0;
    }
    .container4{
        display:flex;
        margin-left: 0;
        flex-wrap: wrap;
        width: 100vw;
    }
    .icon-info4{
        padding: 0;
        width: 50%;
    }
    .info4{
        width: 400px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .info-4{
        width: 100px;
    }
}
.screen5{
    margin-top: 200px;
    padding-left: calc(11vw - 16px);
    font-family: Arial, Helvetica, sans-serif;
    background-size:cover;
}
.top-info5{
    font-size: calc(3vw + 24px);
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
    margin-right: 20px;
}
.container5{
    display: flex;
    flex-wrap: wrap;
}
.info5{
    font-size:calc(1vw + 14px);
    width: 50%;
    padding-bottom: 100px;
}
.head5{
    font-weight: bolder;
    padding-bottom: 20px;
}
.info-5{
    width: 500px;
}
@media (max-width: 700px){
    .info5{
        width: 100vw;
        flex-wrap: wrap;
    }
    .info-5{
        width: 400px;
    }
}



.screen6{
    font-family: Arial, Helvetica, sans-serif;
}
.backgrond6{
    border: 2px solid;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: calc(5vw + 0.3px);
    margin: calc(9.5vw + 12px);

}
.top-info6{
    font-weight: bolder;
    padding-top: calc(4vw + 23px);
    font-size:calc(3vw + 24px);
}
.work6{
    font-size: calc(0.5vw + 14px);
    border-bottom: 1px solid grey;
    padding-bottom: 24px;
    padding-top: 24px;
}
.buttons6{
    display:flex;
    flex-wrap:wrap; 
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 35px;
}
.button6{
    background-color: #6E3ABA;
    color:white;    
    padding: 15px 70px;
    border-radius: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 18px;
    flex-wrap: nowrap;
}
.ph6{
    display: none;
}
.back6{
    position: absolute;
    right: 138px;
    margin-top: -50px;
}
.back6ph{
    display: none;
}
@media (max-width: 800px){
    .ph6{
        display: block;
        margin: 5px 50px;
        margin-top: -20px;
        padding: 15px 30px;
    }
    .pc6{
        display: none;
    }
    .back6{
        display: none;
    }
    .back6ph{
        display: block;
        position: absolute;
        right: 59px;
        margin-top: -15px;
    }
}


.screen7{
    padding-left: calc(5vw + 0.3px);
    font-family: Arial, Helvetica, sans-serif;
}
.info7{
    flex-wrap: wrap;
}
.top7{
    font-weight: bolder;
    font-size: calc(2.6vw + 24px);
    margin-left: 450px;
    width: 700px;
}
.info-7{
    font-size: calc(1vw + 14px);
    margin-left: 450px;
    padding-top: 50px;
    width: 500px;
}
.pic7{
    position: absolute;
}
.pic7-ph{
    display: none;
}
@media (max-width: 800px){
    .screen7{
        display: flex;
    }
    .pic7{
        display: none;
    }
    .pic7-ph{
        display: block;
    }
    .top7{
        margin-top: 100px;
        margin-left: 0;
        margin-bottom: 30px;
        width: 300px;
    }
    .info-7{
        margin: 0;
        width: 400px;
        margin-bottom: 100px;
    }
}


.screen8{
    margin-top: 150px;
    padding-left: calc(5vw + 0.3px);
    font-family: Arial, Helvetica, sans-serif;
}
.top-info8{
    font-weight: bolder;
    font-size: calc(2.6vw + 24px);
    width: calc(44vw + 163px);
}
.info8{
    font-size: calc(1vw + 14px);
    padding-top: 30px;
    width: calc(54vw + 125px);
}
.pic8{
    position: absolute; 
}
.plat8-1{
    padding-left: calc(6vw + 3px);
    padding-top: calc(2vw + 12px);
}
.plat8-2{
    padding-top:calc(9vw + 15px);
    padding-left: calc(22vw + 17px);
    z-index: 3;
}
.plat8-3{
    padding-top:calc(14vw + 16px);
}


.screen9{
    margin-top: 500px;
    padding-left: calc(5vw + 0.3px);
    font-family: Arial, Helvetica, sans-serif;
}
.top-info9{
    font-weight: bolder;
    font-size: calc(2.6vw + 24px);
}
.container9{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}
.pic9{
    width: 50%;
    
}
.info9{
    width: 45%;
    font-size: 20px;
    padding:20px;
}

.screen10{
    margin-top: 150px;
    padding-left: calc(5vw + 0.3px);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 120px;
}
.top-info10{
    font-weight: bolder;
    font-size: calc(2.6vw + 24px);
}
.container10{
    display: flex;
    padding-top: 40px;
}
.bord10{
    background-image: url(pics/card_bg.png);
    background-repeat:no-repeat;
    width: 335px;
    height: 480px;
    padding-right: 50px
}
.bord-icon10{
    padding: 20px;
}
.bord-info10{
    width: 300px;
    font-size: 21px;
    padding: 20px
}
.bord-container10{
    display: flex;
}
.bord-pic10{
    padding-left: 20px;
    padding-right: 10px;
}
.name10{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px
}
.br101{
    padding-top: 75px;
}
.br102{
    padding-top: 50px
}
.br103{
    padding-top: 0px;
}
@media (max-width:800px){
    .bord10-2{
        display: none;
    }
    .bord10-3{
        display: none;
    }
    .container10{
        display: flex;
        justify-content: center;
    }
}


.screen12{
    margin-top: 150px;
    padding-left: calc(5vw + 0.3px);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 120px;
}
.top-info12{
    font-weight: bolder;
    font-size: calc(2.6vw + 24px);
    padding-bottom: 100px;
}
.image12{
    padding-bottom: 20px;
}
.container12{
    display: flex;
    flex-wrap: wrap;
}
.half-info12{
    font-size: 25px;
    font-weight: 700;
    width: 400px;
}
.half12{
    width: 49%;
    padding: 5px;
}
.half-half-head12{
    font-size: 58px;
    font-weight: 800;
}
.half-half-info12{
    font-size: 21px;
    font-weight: 500;
}

.screen13{
    margin-top: 150px;
    padding-left: calc(5vw + 0.3px);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 120px;
}
.top13{
    font-weight: bolder;
    font-size: calc(2.6vw + 24px);
}
.info13{
    font-size: calc(1vw + 15px);
    padding: 20px 0;
    max-width: 800px;
}
.pics13{
    width: 1200px;
    overflow: hidden;
}
.pic13{
    flex-shrink: 0;
    width: 500px;
    height: 500px;
    margin: 0 5px;
    background-size: cover;
    background-position: center;
}
.row13{
    display: flex;
    animation: slide 7s infinite;
}

.pics13:hover .row13{
    animation: none;
    overflow-x: scroll;
}

@media (max-width: 800px) {
    .pics13{
        width: 500px;
    }
}

.screen14{
    padding-left: calc(5vw + 0.3px);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 120px;
    background-color: #222222;
    height: 600px;

}
.top14{
    font-weight: bolder;
    font-size: calc(2.6vw + 24px);
    width: 400px;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}
.cont14{
    display: flex;
    color: white;
    
}
.emo14{
    width: 25px;
    height: 25px;
    padding-top: 25px;
    padding-right: 20px;
}
.info-14{
    font-size: calc(1vw + 15px);
    padding: 20px 0;
    max-width: 800px;
}
.block14{
    width: calc(16vw + 267px);
    height: calc(7vw + 504px);
    background-color: white;
    border-radius: 12px;
    position: absolute;
    margin-left: 600px;
    margin-top: -550px;
}
.topblock14{
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.infoblock14{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.inputs14{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inp14{
    width: 300px;
    height: 20px;
    margin-top: 20px;
}
.butt14-cont{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.butt14{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 200px;
    height: 15px;
    background: #6E3ABA;
    border-radius: 10px;
}
.buttonblock14{
    color: white;
}
.footblock14{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 20px;
    opacity: 0.5;
}
.footerblock14{
    padding-top: 20px;
    font-size: 20px;
    opacity: 0.5;
    width: 300px;
}
.foot14{
    display: flex;
    justify-content: center;
}
.psev14{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color:#6E3ABA;
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    margin-top: -570px;
    margin-left: -70px;
}
.txt14{
    font-size: 60px;
    font-weight: 700;
    color: white;
}
@media (max-width: 800px){
    .block14{
        position: relative;
        margin: 100px;
    }
    .screen14{
        height: 1100px;
    }
}
